html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: grid;
  grid-template-rows: 60px auto auto;
  grid-template-columns: 17rem auto;
  height: 100%;
  min-width: 350px;
}

/*li {
  font-weight: 800;
}*/

.button__general {
  border-radius: 2rem;
  border: 0.2rem solid #d7dee6;
  color: #8891a1;
  font-size: 1rem;
  font-weight: bold;
  height: 3.4rem;
  width: 3.4rem;
  margin: 1rem;
}

/*======================================================
   NAV STYLING
======================================================== */
nav {
  display: flex;
  border-bottom: .1rem solid #ccc
}

nav button i {
  font-size: 2em;
}

input::placeholder {
  color: #DDD;
}

.icon-left-dir {
  position: relative;
  bottom: 1px;
  color: #2baafa;
  font-size:1.5rem;
}

.icon-menu {
  position: relative;
  right: 10px;
}

.nav__button {
  color: #868f9d;
  height: 100%;
  min-width: 6rem;
  padding: 0;
  border: none;
  border-right: .1rem solid #ccc;
}

.nav__search {
  min-width: 4rem;
  background: url("../images/search.svg") 1rem no-repeat;
  background-size: 1.8rem;
  padding-left: 4rem;
  border: none;
  border-right: .1rem solid #ccc;
  font-size: 1.5em;
  width: calc(100% - 17rem);
}

/*======================================================
   ASIDE STYLING
======================================================== */

aside {
  font-size: 1rem;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: #354052;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  height:100%;
  min-width: 125px;
  padding-bottom: 0.5rem;
}

aside ul {
  list-style-type: none;
  padding: 0;
}

aside li i {
  padding-right: .6rem;
}

figcaption i {
  font-size: .9rem;
  padding-left: 2px;
}


.aside__figure {
  align-items: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0 1.5rem 0;
}

.aside__figure-profile {
  border-radius: 100%;
  vertical-align: middle;
  width: 40%;
  margin-right: 10px;
}

.aside__figure-caption {
  font-family: 'Dosis', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color:#a1adc0;
  text-align: center;
  margin-bottom: 2rem;
}

.aside__h2 {
  border-top: 0.2rem solid #2a3546;
  color: #a1adc0;
  padding: 2rem 0 0 1rem;
  font-size: 1em;
  color: #5f718c;
  margin: 0;
  padding-top: 30px;

}

.aside__link {
  color: #a1adc0;
  display: block;
  padding: 1rem 1.5rem 1rem 1rem;
  text-decoration: none;
}

.aside__link-categorie {
  font-size: .9em;
}

.icon-yellow {
  color: yellow;
}

.icon-blue {
  color: blue;
}

.icon-red {
  color: red;
}

.icon-green {
  color: green;
}

/*======================================================
   HEADER STYLING
======================================================== */

header {
  grid-column-start: 2;
  grid-column-end: auto;
  grid-row-start: 2;
  grid-row-end: 3;
  border-bottom: .2rem solid #ccc;
}

header section {
  margin: 3.5rem auto 4rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

header h1 {
  font-weight: 400;
  margin-bottom: 0;

}

header ul {
  width: 95%;
  margin: 0 auto 1rem;
  padding: 0;
}

header a {
  color: #2baafa;
  text-decoration: none;
}

header li {
  display: inline-block;
  margin-right: 3rem;
  padding-bottom: 1rem;
  letter-spacing: .1rem;
}

div button i {
  font-size: 1.1rem;
}

.header__button-open {
  width: 7rem;
}

.icon-circle {
  color: #8ac631;
}

.icon-bookmark {
  position: relative;
  top: 1px;
}

.header__ul-a {
  color: #868f9d;
}

.header__ul-a:hover {
  color: #5f718c;
  border-bottom: .3rem solid #009df8;
  padding-bottom: 1.6rem;
}

/*======================================================
   MAIN STYLING
======================================================== */

main {
  grid-column-start: 2;
  grid-column-end: auto;
  grid-row-start: 3;
  grid-row-end: auto;
  background-color: #ecf2f6;
  height: 800px;
}

main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3rem auto 0 auto;
  width: 95%;
}

main article {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50%;
}

/*========== GRAPH SECTION STYLING =========== */

.main__article-left {
  width: 50%;
}

.main__doughnut {
  width: 28%;
  margin: 0 3rem 3rem 0;
}

.main__doughnut-text {
  transform: translateY(0.4em);
  text-anchor: middle;

}

.main__doughnut-text--number {
  font-size: .7rem;
  transform: translateY(-.3rem);
}

.main__doughnut-text--topic {
  font-size: .3rem;
  transform: translateY(.2rem);
}

.main__doughnut-segment1 {
  stroke-dasharray: 0 100;
  stroke-dashoffset: -25;
  animation: dashone 1s linear forwards;
}

@keyframes dashone {
  to {
    stroke-dasharray: 80 20;
  }
}

.main__doughnut-segment2 {
  stroke-dasharray: 0 100;
  stroke-dashoffset: -25;
  animation: dashtwo 1s linear forwards;
}

@keyframes dashtwo {
  to {
    stroke-dasharray: 40 60;
  }
}

.main__doughnut-segment3 {
  stroke-dasharray: 0 100;
  stroke-dashoffset: -25;
  animation: dashthree 1s linear forwards;
}

@keyframes dashthree {
  to {
    stroke-dasharray: 25 75;
  }
}

.main__vertchart {
  width: 82%;
}

.main__div-button {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.main__button-left {
  width: 17rem;
  font-weight: 400;
  margin-left: 15.7rem;
}

.main__button-right {
  width: 12rem;
  font-weight: 400;
  margin-right: 17rem;
}

/*===== DIVIDER STYLING =====*/

.main__div-divider {
  display: flex;
  margin: 0 auto;
  width: 95%;
}

.main__div-hr {
  width: 45%;
  margin-top: 1rem;
}

.main__button-collapse {
  margin: 0 .5em;
}
