html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: grid;
  grid-template-rows: 60px auto auto;
  grid-template-columns: 17rem auto;
  height: 100%;
  min-width: 350px;
}

header {
  grid-column-start: 2;
  grid-column-end: auto;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: pink;
}

main {
  grid-column-start: 2;
  grid-column-end: auto;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #222;
}

/*======================================================
   NAV STYLING
======================================================== */
nav {
  display: flex;
  border-bottom: .1rem solid #ccc
}

nav button i {
  font-size: 2em;
}

input::placeholder {
  color: #DDD;
}

.icon-left-dir {
  position: relative;
  bottom: 1px;
  color: #2baafa;
  font-size:1.5rem;
}

.icon-menu {
  position: relative;
  right: 10px;
}

.nav__button {
  color: #868f9d;
  height: 100%;
  min-width: 6rem;
  padding: 0;
  border: none;
  border-right: .1rem solid #ccc;
}

.nav__search {
  min-width: 4rem;
  background: url("../images/search.svg") 1rem no-repeat;
  background-size: 1.8rem;
  padding-left: 4rem;
  border: none;
  border-right: .1rem solid #ccc;
  font-size: 1.5em;
  width: calc(100% - 17rem);
}

/*======================================================
   ASIDE STYLING
======================================================== */

aside {
  font-size: 1rem;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: #354052;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  height:100%;
  min-width: 125px;
  padding-bottom: 0.5rem;
}

aside ul {
  list-style-type: none;
  padding: 0;
}

aside li {
  font-weight: 700;
}

aside li i {
  padding-right: .6rem;
}

figcaption i {
  font-size: .9rem;
  padding-left: 2px;
}


.aside__figure {
  align-items: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0 1.5rem 0;
}

.aside__figure-profile {
  border-radius: 100%;
  vertical-align: middle;
  width: 40%;
}

.aside__figure-caption {
  font-family: 'Dosis', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color:#a1adc0;
  text-align: center;
  margin-bottom: 2rem;
}

.aside__h2 {
  border-top: 0.2rem solid #2a3546;
  color: #a1adc0;
  padding: 2rem 0 0 1rem;
  font-size: 1em;
  color: #5f718c;
  margin: 0;
  padding-top: 30px;

}

.aside__link {
  color: #a1adc0;
  display: block;
  padding: 1rem 1.5rem 1rem 1rem;
  text-decoration: none;
}

.aside__link-categorie {
  font-size: .9em;
}

.icon-yellow {
  color: yellow;
}

.icon-blue {
  color: blue;
}

.icon-red {
  color: red;
}

.icon-green {
  color: green;
}