html {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

body {
  display: grid;
  min-width: 350px;
  height: 100%;
  grid-template-rows: 6rem auto auto;
  grid-template-columns: auto auto;
}

.button__general {
  font-size: 1rem;
  font-weight: bold;
  width: 3.4rem;
  height: 3.4rem;
  margin: 1rem;
  color: #8891a1;
  border: .2rem solid #d7dee6;
  border-radius: 2rem;
}

.button__general:hover {
  background-color: #354052;
  color: #fff;
}

/*======================================================
 NAV STYLING
======================================================== */

nav {
  display: flex;
}

nav button i {
  font-size: 2em;
}

input::placeholder {
  color: #ddd;
}

.icon-left-dir {
  font-size: 1.5rem;
  position: relative;
  bottom: 1px;
  color: #16a5fa;
}

.icon-menu {
  position: relative;
  right: 10px;
}

.nav__button {
  min-width: 6rem;
  height: 100%;
  padding: 0;
  color: #868f9d;
  border-right: .1rem solid #ccc;
}

.nav__button:hover {
  background-color: #16a5fa;
  color: #fff;
}


.nav__search {
  font-size: 1.5em;
  width: calc(100% - 17rem);
  min-width: 4rem;
  padding-left: 4rem;
  border: none;
  border-right: .1rem solid #ccc;
  background: url('../images/search.svg') 1rem no-repeat;
  background-size: 1.8rem;
  border-bottom: .1rem solid #ccc;
}

/*======================================================
 ASIDE STYLING
======================================================== */

aside {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  min-width: 125px;
  height: 100%;
  padding-bottom: .5rem;
  background-color: #354052;
  grid-row-start: 1;
  grid-row-end: 4;
}

aside ul {
  padding: 0;
  list-style-type: none;
}

aside li i {
  padding-right: .6rem;
}

figcaption i {
  font-size: .9rem;
  padding-left: 2px;
}


.aside__figure {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 1.5rem 0;
  align-items: center;
  justify-content: center;
}

.aside__figure-profile {
  width: 40%;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 100%;
}

.aside__figure-caption {
  font-family: 'Dosis', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  color: #a1adc0;
}

.aside__figure-caption:hover {
  color: #fff;
}

.aside__h2 {
  font-size: 1em;
  margin: 0;
  padding: 2rem 0 0 1rem;
  padding-top: 30px;
  color: #a1adc0;
  color: #5f718c;
  border-top: .2rem solid #2a3546;
}

.aside__link {
  display: block;
  padding: 1rem 1.5rem 1rem 1rem;
  text-decoration: none;
  color: #a1adc0;
  border-left: .3rem solid #fff00;
}

.aside__link:hover {
  border-left: .3rem solid #16a5fa;
  background-color: #2f3a4a;
}

.aside__link-categorie {
  font-size: .9em;
}

.icon-yellow {
  color: yellow;
}

.icon-blue {
  color: blue;
}

.icon-red {
  color: red;
}

.icon-green {
  color: green;
}

/*======================================================
 HEADER STYLING
======================================================== */

header {
  font-size: 1.2rem;
  border-bottom: .2rem solid #ccc;
  grid-column-start: 2;
  grid-column-end: auto;
  grid-row-start: 2;
  grid-row-end: 3;
}

header section {
  display: flex;
  width: 91%;
  margin: 3.5rem auto 4rem auto;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-weight: 400;
  margin-bottom: 0;
}

header ul {
  width: 91%;
  margin: 0 auto 1rem;
  padding: 0;
}

header a {
  text-decoration: none;
  color: #2baafa;
}

header li {
  display: inline-block;
  margin-right: 3rem;
  padding-bottom: 1rem;
  letter-spacing: .1rem;
}

div button i {
  font-size: 1.1rem;
}

.header__button-open {
  width: 7rem;
}

.icon-circle {
  color: #8ac631;
}

.icon-bookmark {
  position: relative;
  top: 1px;
}

.header__btn-hidden {
  display: none;
  width: 95%;
  margin: 0 auto 1rem;
  padding: 1rem;
  color: #fff;
  background-color: #354052;
}

.header__ul-a {
  color: #868f9d;
}

.header__ul-a:hover {
  padding-bottom: 1.6rem;
  color: #5f718c;
  border-bottom: .3rem solid #009df8;
}

/*======================================================
 MAIN STYLING
======================================================== */

main {
  font-size: 1.2rem;
  height: auto;
  background-color: #ecf2f6;
  grid-column-start: 2;
  grid-column-end: auto;
  grid-row-start: 3;
  grid-row-end: auto;
}

main section {
  display: flex;
  width: 91%;
  margin: 3rem auto 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

main article {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}

main h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

/*========== MAIN-GRAPH SECTION STYLING =========== */

.main__div-doughnut {
  display: flex;
}

.main__div-img {
  width: 100%;
  display: flex;
  height: 200px;
}

.main__doughnut {
  width: 28%;
  margin: 0 auto 3rem;
}

.main__doughnut-text {
  transform: translateY(.4em);

  text-anchor: middle;
}

.main__doughnut-text--number {
  font-size: .7rem;

  transform: translateY(-.3rem);
}

.main__doughnut-text--topic {
  font-size: .3rem;
  transform: translateY(.2rem);
}

.main__doughnut-segment1 {
  animation: dashone 1s linear forwards;
  stroke-dasharray: 0 100;
  stroke-dashoffset: -25;
}

@keyframes dashone {
  to {
    stroke-dasharray: 80 20;
  }
}

.main__doughnut-segment2 {
  animation: dashtwo 1s linear forwards;
  stroke-dasharray: 0 100;
  stroke-dashoffset: -25;
}

@keyframes dashtwo {
  to {
    stroke-dasharray: 40 60;
  }
}

.main__doughnut-segment3 {
  animation: dashthree 1s linear forwards;
  stroke-dasharray: 0 100;
  stroke-dashoffset: -25;
}

@keyframes dashthree {
  to {
    stroke-dasharray: 25 75;
  }
}

.main__vertchart {
  width: 100%;
}

.main__div-button {
  display: flex;
  width: 91%;
  margin: 0 auto;
  justify-content: space-between;
}

.main__btn-left {
  font-weight: 400;
  width: 17rem;
  margin: 3rem 0 2rem 0;
}

.main__btn-right {
  font-weight: 400;
  width: 12rem;
  margin-bottom: 2rem;
}

/*===== MAIN-DIVIDER STYLING =====*/

.main__div-divider {
  display: flex;
  width: 91%;
  margin: 1rem auto;
}

.main__div-hr {
  width: 48.6%;
  margin-top: 1rem;
}

.main__button-collapse {
  margin: 0 .5em;
}

.main__button-show {
  width: 11rem;
  font-weight: 400;
  margin: 0 .5em;
  display: none;
}

/*===== MAIN-INFO STYLING =====*/

.main__section-info {
  display: flex;
  flex-wrap: nowrap;
  width: 91%;
  margin: 0 auto 3rem;
  justify-content: center;
}

/*--- Table Styling ---*/

.main__article-job {
  font-weight: 400;
  display: grid;
  width: 60%;
  margin: 4rem 2rem 0 0;
  color: #5f718c;
  background-color: #fff;
  align-self: flex-start;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(9, auto);
}

.main__table {
  height: 4.2rem;
  margin: 0;
  padding-top: 3.5rem;
  border-bottom: .1rem solid #ededed;
}

.main__table-heading {
  padding-left: 2rem;
  color: #fff;
  background-color: #6f7d95;
}

.main__table-btn {
  padding-left: 2rem;
  color: #fff;
  background-color: #6f7d95;
}

.table__btn {
  position: relative;
  bottom: .7rem;
  padding: .6rem 1.2rem .6rem .6rem;
  color: #fff;
  border: none;
  background-color: #7c8ca6;
}

.main__table-h2 {
  margin-left: 2rem;
}

.main__table-p {
  margin-right: 2rem;
  padding-left: 2rem;
}

.main__table-h2large {
  height: 11rem;
}

.main__table-plarge {
  line-height: 1.9rem;
  overflow: scroll;
  height: 11rem;
}

.main__table-img {
  position: relative;
  bottom: 1.5rem;
  width: 4rem;
  margin-right: 1rem;
  vertical-align: top;
}

/*--- Social Styling ---*/

.main__article-social {
  display: inline-flex;
  width: 34.7rem;
  margin-top: 4rem;
  flex-flow: column wrap;
}
.main__btn-social {
  font-size: 1.5rem;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1.2rem 10rem 1.2rem 2rem;
  color: white;
  border: none;
  border-radius: .2rem;
}

.main__btn-facebook {
  padding-left: 0;
  background-color: #496ec1;
}

.main__btn-twitter {
  padding-left: 0;
  background-color: #00a8ef;
}

.icon-twitter {
  padding-left: 0;
}

.main__btn-linkedin {
  padding-left: 0;
  background-color: #0283be;
}

.main__icon-social {
  font-size: 2rem;
  padding: 0 7rem 0 0;
}

.main__h2-social {
  font-size: 1.6rem;
  color: #2a4c5e;
  align-self: left;
}

.social__icon {
  padding-right: .6rem;
}

.main__text-social {
  line-height: 2rem;
  margin: 0;
  margin-bottom: 3rem;
  color: #a1a8b3;
}

.main__div-social {
  width: 100%;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: .2rem solid #d7dee6;
}

.main__input-social {
  font-size: 1.2rem;
  width: 80%;
  margin-bottom: 1rem;
  padding: 1.4rem 0rem 1.4rem 2rem;
  border: none;
  border-radius: .2rem;
}

.main__input-social::placeholder {
  color: #5f718c;
}

.main__btn-submit {
  position: relative;
  right: .5rem;
  padding: 1.4rem .8rem;
  color: #fff;
  border: none;
  background-color: #48bac1;
}

.last__div {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}

.last__input {
  margin-bottom: 0;
  width: 100%;
}

/*======================================================
  MEDIA QUERIES
======================================================== */

@media screen and (min-width: 1460px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 1050px) {
  .main__section-info {
    flex-wrap: wrap;
  } 
  .main__article-job,
  .main__article-social {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }

  body {
    grid-template-rows: 60px auto auto;
    grid-template-columns: auto auto;
  }

  nav,
  header,
  main {
    grid-column-start: 1;
  }

  .header__ul {
    display: none;
  }

  .header__div-btn {
    display: none;
  }

  .header__btn-hidden {
    display: block;
  }

  .main__article-job,
  .main__article-social,
  .main__article-left,
  .main__article-right {
    width: 95%;
    font-size: 1.5rem;
  }

  aside {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  html {
    font-size: 7px;
  }

  .main__article-job,
  .main__article-social,
  .main__article-left,
  .main__article-right {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 350px) {
  html {
    font-size: 5px;
  }

  .main__article-job,
  .main__article-social,
  .main__article-left,
  .main__article-right {
    font-size: 2rem;
  }
}
